<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wiki" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wiki" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="header">
      <header>
          <div id="logo">
            <img src="http://101companies.org/TechnologiesAnywhere.png"/>
          </div>
          <div id="pagename">101companies.org</div>
          <%= render 'layouts/navigation' %>
          <%= render 'layouts/messages' %>
      </header>
    </div>
    
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>
      Here | Goes | Some | Footer text
      </footer>

  </body>
</html>
